[user]
    name = Ni2hi
    email = kirby_junky97530@softbank.ne.jp
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current